{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'gerentes/css/gerentes.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="row">
        <div onclick="exibir_form('1')" class="col-md card-dashboard">
            <p class="text-card">Colocar dados e registrar abastecimentos</p>
        </div>
        <div onclick="exibir_form('2')" class="col-md card-dashboard">
            <p class="text-card">Atualizar dados de registros</p>
        </div>
    </div>

    <div id="adicionar_gerente" style="display: none;">
        <form action="{% url 'gerentes' %}" method="POST">{% csrf_token %}
            <p>Nome completo:</p>
            <input type="text" class="form-control" placeholder="Nome completo" name="nome" value="{{ nome }}">
            <br>
            <p>E-mail:</p>
            <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{ email }}">
            <br>
            <p>CPF:</p>
            <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{ cpf }}">
            <hr style="background-color:gray;">
            <div class="add-abastecimentos">
                <h3>Abastecimentos</h3>
                <span class="btn-add-abastecimentos" onclick="add_abastecimentos()">+ Adicionar um abastecimento</span>
                <div id="form-abastecimentos">
                    {% for abastecimento in Abastecimentos %}
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <input type="text" placeholder="Abastecimento" class="form-control" name="abastecimento" value="{{ abastecimento }}">
                        </div>
                        <div class="col-md">
                            <select class="form-control" name="tanque">
                                <option value="gasolina" {% if abastecimento.tanque == "gasolina" %}selected{% endif %}>Gasolina</option>
                                <option value="oleo" {% if abastecimento.tanque == "oleo" %}selected{% endif %}>Óleo</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <select class="form-control" name="bomba">
                                <option value="bomba1gasolina" {% if abastecimento.bomba == "bomba1gasolina" %}selected{% endif %}>Bomba01 - Gasolina</option>
                                <option value="bomba2gasolina" {% if abastecimento.bomba == "bomba2gasolina" %}selected{% endif %}>Bomba02 - Gasolina</option>
                                <option value="bomba1oleo" {% if abastecimento.bomba == "bomba1oleo" %}selected{% endif %}>Bomba01 - Óleo</option>
                                <option value="bomba2oleo" {% if abastecimento.bomba == "bomba2oleo" %}selected{% endif %}>Bomba02 - Óleo</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <input type="number" step="0.01" placeholder="Valor" class="form-control" name="valor_unitario" value="{{ valor_unitario }}">
                        </div>
                        <div class="col-md">
                            <input type="number" step="0.01" placeholder="Quantidade" class="form-control" name="quantidade" value="{{ quantidade }}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <input type="submit" value="Cadastrar" class="btn-principal">
            </div>
            <br>
        </form>
    </div>

    <div id="att_gerente" >
        <p></p>
        <select id="gerente-select" onchange="dados_gerente()" class="form-control">
            
            {% for gerente in gerentes %}
            <option value="{{ gerente.id }}">{{gerente.nome}}</option>
            {% endfor %}
        </select>
        <br>
        <hr>
        <div id="form-att-gerente" >
            <input type="hidden" id="id">
            <p>Nome completo:</p>
            <input id="nome" type="text" class="form-control" placeholder="Nome completo" name="nome">
            <p>E-mail:</p>
            <input id="email" type="email" class="form-control">
            <p>CPF:</p>
            <input id="cpf" type="text" class="form-control">
            <br>
            <input type="hidden" id="id">
            <input onclick="update_gerente()" type="button" value="Salvar" class="btn btn-success">
            <hr style="background-color: gray;">
            <h2>Abastecimentos</h2>
            <div id="abastecimentos"></div>
        </div>
    </div>
    <form method="GET" action="{% url 'gerar_pdf_abastecimentos' %}">
        <input type="text" name="cpf" placeholder="Digite o CPF" required>
        <button type="submit">Gerar PDF</button>
    </form>
</div>
<script src="{% static 'gerentes/js/gerentes.js' %}"></script>
{% endblock %}