:root {
    --main-color: #2c3e50;      /* Azul Escuro */
    --dark-color: #34495e;      /* Azul Cinza */
    --light-color: #ecf0f1;     /* Prata */
    --contrast-color: #e74c3c;  /* Vermelho Coral */
    --differential-color: #f39c12; /* Laranja */
}
